
.navbar{
position: fixed;
top: 0%;
width: 100%;
padding: 1.5rem;
display: flex;
justify-content: space-between;
background-color: black;
}

.logo{
    position: fixed;
    top: .5rem;
    left: 1rem;
    width: 5rem;
}

.avatar{
    position: fixed;
    top: .5rem;
    right: 1rem;
    width: 1.5rem;
}